{% extends 'template.html' %}
{% block title %}dashboard fge{% endblock %}

{% block content %}
    <h1 class="text-center">Dashboard General FGE</h1>
    <h3>Fecha de  Corte: {{fecha_corte}}</h3>
    <div class="demo-box">
      <div class="text-bg-dark text-center">
        Noticias del Delito Por Provincia, Cantón de Incidente, Delito y Año de Registro
      </div>
      <div id="pivot-provinciaCanton" data-license-key={{flex_monster_lic}}></div>
    </div>
    
    <div class="demo-box">
      <div class="row">
        <div class="col-6">
          <div class="text-bg-info text-center">
            Noticias del Delito por Provincia de Incidente
          </div>
          <div id="barras-ProvinciaCanton" data-license-key={{flex_monster_lic}}></div>
        </div>
        <div class="col-6">
        <div class="text-bg-info text-center">
          Delitos Flagrantes
        </div>
        <div id="pie-flagrantes" data-license-key={{flex_monster_lic}}></div>
        </div>
      </div>
    </div>
    
    <div class="demo-box">
      <div class="text-bg-warning text-center">Delitos por Tipo y Año</div>
          <div id="tabla-delitosTipoAnio" data-license-key={{flex_monster_lic}}></div>
    </div>
    <div class="demo-box">
      <div class="text-bg-warning text-center">
        Hora de Incidente por Año
      </div>
      <div id="barras-delitosHorarioAnio" data-license-key={{flex_monster_lic}}></div>
    </div>
    
    <script src="https://cdn.flexmonster.com/flexmonster.js"></script>
    <script src="{{url_for('static', filename='js/dashboard.js')}}"></script>
    <script src="{{url_for('static', filename='css/mystyles.css')}}"></script>
{% endblock %}