{% extends 'template.html' %}
{% block title %}inicio{% endblock %}

{% block content %}

    
    <div class="container">
        <div class="container marketing">

            <!-- Three columns of text below the carousel -->
            <div class="row">
              <div class="col-lg-4">
                <div class="card" >
                  <div class="card-body">
                    <img class="card-img-top" src="{{ url_for('static', filename='imgs/dashboard-report-icon.svg') }}" alt="dashboard" width="140" height="140">
                    <h5 class="card-title">Datos Fiscalía</h5>
                    <p class="card-text">Portal de datos abiertos de la Fiscalía General del Estado</p>
                    <a class="card-link" href="/dashboard-general-fge">Dashboard »</a>
                    <a class="card-link" href="/reporte-crear">Crear Consulta »</a>
                    <p><a class="card-link" href="/acerca-de-los-datos">Metodología »</a></p>
                  </div>
                </div>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4">
                <div class="card" >
                  <div class="card-body">
                    <img class="card-img-top" src="{{ url_for('static', filename='imgs/roboImagen.jpg') }}" alt="dashboard" width="140" height="140">
                    <h5 class="card-title">Cifras de Robo</h5>
                    <p class="card-text">Información sobre delitos denominados de <q>mayor connotación psicosocial</q> que hacen referencia a las 6 desagregaciones de robo enmarcadas en la Comisión Especial de Estadística de Seguridad, Justicia, Crimen y Transparencia</p>
                    <a class="card-link" href="/dashboard-robospbi">Dashboard »</a>
                    <a class="card-link" href="#">Crear Consulta »</a>
                    <p><a class="card-link" href="#">Metodología »</a></p>
                  </div>
                </div>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4">
                <div class="card" >
                  <div class="card-body">
                    <img class="card-img-top" src="{{ url_for('static', filename='imgs/mujerVG.jpg') }}" alt="dashboard" width="140" height="140">
                    <h5 class="card-title">Muerte de Mujeres</h5>
                    <p class="card-text">Información sobre femicidios y otras muertes de mujeres en el contexto delictivo, cifras disponibles desde agosto de 2014</p>
                    <a class="card-link" href="/dashboard-muertesviolentas-bi">Dashboard »</a>
                    <a class="card-link" href="/reporte-crear-femicidio">Crear Consulta »</a>
                    <p><a class="card-link" href="#">Metodología »</a></p>
                  </div>
                </div>
              </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
    </div>
    
    
    
    
    </div>

{% endblock %}