{% extends 'template.html' %}
{% block title %}inicio{% endblock %}

{% block content %}
    <script src="https://cdn.flexmonster.com/flexmonster.js"></script>
    <h1>Flexmonster Integration with Django</h1>

    <div id="pivot-container"></div>

    <script>
          let pivot = new Flexmonster({
              container: "#pivot-container",
              licenseKey: "Z7XQ-XJ4I0A-1X1229-69644T-0Z5I02-354C69-68654O-175L0S-333B4J-5C581I",
              componentFolder: "https://cdn.flexmonster.com/",
              width: "100%",
              height: 430,
              toolbar: true,
              report: {
                "dataSource": {
                    "type": "elasticsearch",
                    "node": "http://192.168.152.196:4200/api/cube",
                    "index": "opendata_lake",
                    "mapping": {
                    } 
                },
                "slice": {
                    "columns": [
                        {
                            "uniqueName": "[Measures]"
                        }
                    ],
                    "measures": [
                        {
                            "uniqueName": "ndd",
                            "aggregation": "count",
                            "caption": "Ndd"
                        }
                    ]
                },
                "version": "2.9.41",
                "creationDate": "2023-01-04T16:25:18.393Z"
            
            }
          });
    </script>
{% endblock %}